/win64/cheatcoin/.vs/
/win64/cheatcoin/cheatcoin.VC.db
/win64/cheatcoin/cheatcoin.VC.VC.opendb
/win64/cheatcoin/cheatcoin/cheatcoin.vcxproj.user
/win64/cheatcoin/cheatcoin/x64/
/win64/cheatcoin/cheatcoinwallet/x64/
/win64/cheatcoin/cheatcoinwallet/cheatcoinwallet.vcxproj.user
/win64/cheatcoin/x64/
